.highlight {
  color: gold;
}

.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}

.imgContainer {
  flex: 1;
  position: relative;
}

.desc {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
}
.boxes {
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 80;
}

@media (max-width: 768px) {
  /* Pour les téléphones de taille moyenne */

  .imgContainer {
    max-width: 100%; /* Ajustez la largeur maximale de l'image pour remplir l'écran */
    overflow: hidden; /* Masquez le débordement pour éviter l'étirement de l'image */
  }

  .imgContainer img {
    width: 100%; /* Ajustez la largeur de l'image pour remplir le conteneur parent */
    height: auto; /* Ajustez la hauteur de l'image en conséquence */
  }
  .container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  /* Pour les téléphones de petite taille */

  .title {
    font-size: 30px; /* Réduisez davantage la taille de la police pour les petits écrans */
    width: 100%; /* Empêchez l'étirement du titre */
    overflow-wrap: break-word; /* Permettez le passage à la ligne du titre */
  }

  .desc {
    font-size: 16px; /* Réduisez davantage la taille de la police pour les petits écrans */
  }
}
