.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.textImageContainer {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.textContainer {
  flex: 1;
  max-width: 600px;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
}

.highlight {
  color: var(--textSoft);
}

.desc {
  font-size: 1rem;
  line-height: 1.6;
}

.boxes {
  margin-top: 20px;
}

.box {
  padding: 10px;
  background: rgba(0, 85, 255, 0.529);
  border-radius: 8px;
}

.imageContainer {
  flex: 1;
  max-width: 500px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .textImageContainer {
    flex-direction: column;
    align-items: center;
  }

  .textContainer {
    max-width: 100%;
  }

  .imageContainer {
    max-width: 100%;
  }
}
