.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textContainer {
  max-width: 90%;
  padding: 20px;
  text-align: center;
}

.textContainer p {
  font-size: 18px;
  line-height: 1.6;
}

.brandImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.highlight {
  color: var(--textSoft);
}

.brandImg {
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .textContainer {
    padding: 10px;
  }

  .textContainer p {
    font-size: 16px;
  }

  .brandImg {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .textContainer p {
    font-size: 14px;
  }
}

.embla__container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%; /* Définir la largeur du conteneur du carrousel sur 100% */
}

.embla__slide {
  flex: 0 0 auto;
  width: 80%; /* Définir la largeur de chaque diapositive du carrousel */
  scroll-snap-align: start;
}

@media (max-width: 768px) {
  .embla__slide {
    width: 90%; /* Réduire la largeur des diapositives pour s'adapter aux petits écrans */
  }
}

@media (max-width: 480px) {
  .embla__slide {
    width: 95%; /* Réduire encore la largeur des diapositives pour les écrans très petits */
  }
}
