.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: rgb(187, 182, 182);
}
.brandImgContainer {
  display: flex;
  justify-content: center; /* Centrez les éléments horizontalement */
  align-items: center; /* Centrez les éléments verticalement */
  max-width: 900px; /* Ajustez la largeur maximale de l'image si nécessaire */
  margin-top: 20px; /* Ajoutez un espace en haut de l'image */
}
.brandImg {
  max-width: 1000px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}
.text {
  font-size: 16px; /* Définissez la taille de la police de votre paragraphe */
  line-height: 1.6; /* Définissez la hauteur de ligne de votre paragraphe */
  margin-bottom: 20px; /* Ajoutez un espace en bas de chaque paragraphe */
  align-items: center;
}

.textContainer {
  max-width: 800px;
  padding: 20px;
  text-align: center; /* Centrez le texte horizontalement */
}

.textContainer p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .buttons {
    justify-content: center;
  }
}

/* @media (max-width: 768px) {
  .title {
    font-size: 50px;
  }
  .container {
    flex-direction: column;
  }

  .brands {
    width: 100%;
  }
} */
@media (max-width: 768px) {
  /* Pour les téléphones de taille moyenne */

  .brandImgContainer {
    max-width: 100%; /* Ajustez la largeur maximale de l'image pour remplir l'écran */
    overflow: hidden; /* Masquez le débordement pour éviter l'étirement de l'image */
  }

  .brandImg {
    width: 100%; /* Ajustez la largeur de l'image pour remplir le conteneur parent */
    height: auto; /* Ajustez la hauteur de l'image en conséquence */
  }
}

@media (max-width: 480px) {
  /* Pour les téléphones de petite taille */

  .title {
    font-size: 30px; /* Réduisez davantage la taille de la police pour les petits écrans */
    width: 100%; /* Empêchez l'étirement du titre */
    overflow-wrap: break-word; /* Permettez le passage à la ligne du titre */
  }
}
.textContainer {
  padding: 10px; /* Réduisez davantage l'espacement autour du texte */
}

.textContainer p {
  font-size: 19px; /* Réduisez davantage la taille de la police pour les petits écrans */
}
.embla__container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.embla__slide {
  flex: 0 0 auto;
  width: 100%; /* Set each slide to occupy the full width of its container */
  scroll-snap-align: start;
}
